.App {
    text-align: center;
}

* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  /* (*) selector universal */

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  html, 
  body {
    background-color: rgb(126, 6, 86);
  }


  .App {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    font-family: Lato, sans-serif;
  }

  .logo-contenedor{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 20px;
  }

  .logo-free{
    
  }
  